In [39]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
import scipy.stats as st
import numpy as np

In [53]:
#Import CSV file
home_values_state_level_csv = Path("Data/HomeValuesStateLevel.csv")
df = pd.read_csv(home_values_state_level_csv)
df.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,1/31/00,2/29/00,3/31/00,4/30/00,5/31/00,...,11/30/22,12/31/22,1/31/23,2/28/23,3/31/23,4/30/23,5/31/23,6/30/23,7/31/23,8/31/23
0,9,0,California,state,CA,190427.37640,191067.45960,191931.72870,193807.79930,195988.4487,...,745756.0057,741198.5692,734108.1632,726818.6598,721456.5221,720865.8563,723874.2597,729142.5994,736244.3653,744280.3087
1,54,1,Texas,state,TX,111300.62580,111361.10940,111390.44490,111536.03970,111630.3291,...,305850.9735,304560.7285,302858.3334,301239.4466,300158.9362,299786.0729,300108.2355,300944.1274,301696.9243,302281.1035
2,14,2,Florida,state,FL,107448.49060,107681.23410,107963.36550,108536.86610,109155.3248,...,389484.7150,388635.9671,387283.9272,386139.0551,385673.4060,386120.1613,387177.2365,388858.3673,390568.0359,392262.2997
3,43,3,New York,state,NY,153410.48450,153956.77650,154482.67070,155613.72610,156783.9641,...,441336.0003,439739.7257,438068.9960,436680.9583,436775.9458,438280.6193,440743.2499,443637.5991,446706.6781,449825.8214
4,47,4,Pennsylvania,state,PA,98898.10013,99109.63568,99308.42227,99713.51914,100129.6551,...,250301.3643,250511.9911,250328.2042,249933.5885,250089.6505,250913.9411,252462.4681,254298.4584,256084.8257,257796.6542

In [54]:
# Get the column headers as a list
columns = df.columns

# Loop through the column headers starting from the 6th column
for i in range(5, len(columns)):
    try:
        # Split the header by '/' and take the last part (year)
        parts = columns[i].split('/')
        
        # Ensure that the extracted year is four digits
        if len(parts[-1]) == 2:
            parts[-1] = '20' + parts[-1]  # Assuming the data is for years in the 2000s
        
        new_column_name = parts[-1]
        
        # Rename the column with the extracted year
        df.rename(columns={columns[i]: new_column_name}, inplace=True)
    except ValueError:
        # If the header does not contain '/', continue to the next column
        pass
    
df.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,2000,2000,2000,2000,2000,...,2022,2022,2023,2023,2023,2023,2023,2023,2023,2023
0,9,0,California,state,CA,190427.37640,191067.45960,191931.72870,193807.79930,195988.4487,...,745756.0057,741198.5692,734108.1632,726818.6598,721456.5221,720865.8563,723874.2597,729142.5994,736244.3653,744280.3087
1,54,1,Texas,state,TX,111300.62580,111361.10940,111390.44490,111536.03970,111630.3291,...,305850.9735,304560.7285,302858.3334,301239.4466,300158.9362,299786.0729,300108.2355,300944.1274,301696.9243,302281.1035
2,14,2,Florida,state,FL,107448.49060,107681.23410,107963.36550,108536.86610,109155.3248,...,389484.7150,388635.9671,387283.9272,386139.0551,385673.4060,386120.1613,387177.2365,388858.3673,390568.0359,392262.2997
3,43,3,New York,state,NY,153410.48450,153956.77650,154482.67070,155613.72610,156783.9641,...,441336.0003,439739.7257,438068.9960,436680.9583,436775.9458,438280.6193,440743.2499,443637.5991,446706.6781,449825.8214
4,47,4,Pennsylvania,state,PA,98898.10013,99109.63568,99308.42227,99713.51914,100129.6551,...,250301.3643,250511.9911,250328.2042,249933.5885,250089.6505,250913.9411,252462.4681,254298.4584,256084.8257,257796.6542

In [55]:
#Drop unnecessary columns for unused years
df_clean = df.drop(columns = ["RegionID", "SizeRank", "RegionType", "StateName", "2000", "2001", "2002", "2003", "2004", "2005", "2006", "2007", "2008", "2009", "2021", "2022", "2023"])
df_clean.head()

,RegionName,2010,2010,2010,2010,2010,2010,2010,2010,2010,...,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020
0,California,308237.6988,309058.7682,310107.8309,311414.4541,312853.1200,312787.2189,311633.3593,309662.3972,307651.3959,...,561502.3252,563543.1585,563800.9154,562579.8190,562422.2422,565706.0980,572996.3815,582357.6098,593258.2684,604131.2919
1,Texas,138622.1575,138608.5728,138633.5847,138808.4010,139010.2855,139055.9369,138809.4921,138333.5042,137769.6955,...,217890.6890,218678.1776,218959.3679,219127.6716,219785.5867,221214.7697,223372.2328,225807.1692,228584.1322,231274.6238
2,Florida,150273.3167,149670.0475,149259.1053,148900.3062,148435.0981,147733.5811,146761.3516,145547.2659,144221.9206,...,252796.6594,253768.0102,254035.8924,254170.2170,254743.9634,256325.5180,258862.1000,261863.6829,265387.8556,268890.5796
3,New York,263628.3519,263609.6755,263688.9321,264086.4230,264511.5112,265080.0584,265443.9578,265355.9821,264805.7292,...,356817.6959,358162.2389,359332.0253,359964.4029,360143.5079,360554.1761,362624.1693,366017.1008,370501.0921,375447.1421
4,Pennsylvania,162153.8044,162502.4014,162986.9078,163457.7564,163766.6955,163821.1418,163571.5203,163097.3165,162390.9533,...,195731.9897,197131.1884,197979.9888,198330.9231,198636.2046,199657.7307,201831.0343,204560.9138,207827.2050,210901.9118

In [56]:
#Aggregate data by year (sum the price of all houses sold)
house_value_agg_df = df_clean.groupby(lambda x:x, axis=1).sum()
house_value_agg_df.head()

,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,RegionName
0,3.704704e+06,3.502886e+06,3.446221e+06,4.066900e+06,4.672354e+06,5.015994e+06,5.351547e+06,5.792010e+06,6.344549e+06,6.527266e+06,6.848588e+06,California
1,1.657571e+06,1.605892e+06,1.611023e+06,1.693537e+06,1.827784e+06,1.979626e+06,2.131420e+06,2.271338e+06,2.412822e+06,2.522710e+06,2.657171e+06,Texas
2,1.755164e+06,1.594670e+06,1.583545e+06,1.771648e+06,1.992580e+06,2.171154e+06,2.377182e+06,2.569454e+06,2.765189e+06,2.909377e+06,3.081426e+06,Florida
3,3.168509e+06,3.093662e+06,3.055868e+06,3.123603e+06,3.238493e+06,3.342667e+06,3.493603e+06,3.691324e+06,3.927192e+06,4.134870e+06,4.338203e+06,New York
4,1.949720e+06,1.871388e+06,1.846142e+06,1.863157e+06,1.892636e+06,1.925911e+06,1.985744e+06,2.059137e+06,2.158174e+06,2.249293e+06,2.400312e+06,Pennsylvania

In [57]:
#Dividing by 12 (months) to get yearly average price of houses by state
house_value_agg_df['2010'] = house_value_agg_df['2010'].divide(12)
house_value_agg_df['2011'] = house_value_agg_df['2011'].divide(12)
house_value_agg_df['2012'] = house_value_agg_df['2012'].divide(12)
house_value_agg_df['2013'] = house_value_agg_df['2013'].divide(12)
house_value_agg_df['2014'] = house_value_agg_df['2014'].divide(12)
house_value_agg_df['2015'] = house_value_agg_df['2015'].divide(12)
house_value_agg_df['2016'] = house_value_agg_df['2016'].divide(12)
house_value_agg_df['2017'] = house_value_agg_df['2017'].divide(12)
house_value_agg_df['2018'] = house_value_agg_df['2018'].divide(12)
house_value_agg_df['2019'] = house_value_agg_df['2019'].divide(12)
house_value_agg_df['2020'] = house_value_agg_df['2020'].divide(12)
house_value_agg_df.head()

,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,RegionName
0,308725.368833,291907.137158,287185.124908,338908.309683,389362.824367,417999.504350,445962.250475,482667.519642,528712.389942,543938.843333,570715.705733,California
1,138130.885125,133824.359667,134251.876067,141128.048258,152315.322375,164968.800842,177618.305925,189278.141825,201068.458783,210225.811775,221430.916233,Texas
2,146263.701333,132889.152600,131962.091633,147637.340100,166048.298658,180929.511675,198098.483500,214121.136058,230432.383333,242448.122775,256785.523625,Florida
3,264042.416775,257805.132050,254655.643967,260300.216800,269874.450975,278555.587950,291133.549025,307610.343758,327266.022592,344572.466042,361516.886667,New York
4,162476.627300,155949.031992,153845.189092,155263.100450,157719.683292,160492.615750,165478.665942,171594.740458,179847.793458,187441.072567,200026.012383,Pennsylvania

In [58]:
#Selected the states being used in our analysis
select_states_avg_house_value_df = house_value_agg_df[house_value_agg_df["RegionName"].isin(["Texas", "Utah", "Washington", "Illinois", "Virginia"])]
select_states_avg_house_value_df

#Change State Name to State
select_states_avg_house_value_df = select_states_avg_house_value_df.rename(columns = {"RegionName": "State"})
select_states_avg_house_value_df     

#Set the index in the first column
select_states_avg_house_value_df.set_index("State")

,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
State,,,,,,,,,,,
Texas,138130.885125,133824.359667,134251.876067,141128.048258,152315.322375,164968.800842,177618.305925,189278.141825,201068.458783,210225.811775,221430.916233
Illinois,164836.884733,150928.749667,142037.569400,146488.876867,158050.371092,164253.659250,172364.972058,180334.902075,188349.806525,193393.205783,200042.627158
Virginia,220257.314142,213077.486575,214320.188850,224463.159700,231728.301608,236948.121667,243815.428008,252396.899625,261777.610183,271513.411717,287095.465392
Washington,260447.924925,236988.106900,223369.209142,238662.758392,257177.070367,277654.157350,308629.182708,342490.162267,378123.752950,397837.825842,432475.752083
Utah,205231.194483,189670.523475,191392.061500,211853.084067,225750.139142,239717.002625,262350.233333,285002.453175,311831.698417,336063.466117,366097.750325

In [59]:
select_states_avg_house_value_df = select_states_avg_house_value_df.rename(columns={year: str(year) for year in range(2010, 2021)})
select_states_avg_house_value_df.columns

Index(['2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018',
       '2019', '2020', 'State'],
      dtype='object')

In [60]:
avg_price = select_states_avg_house_value_df[[str(year) for year in range(2010, 2021)]]
price_years = avg_price.keys()

In [61]:
price_years

Index(['2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018',
       '2019', '2020'],
      dtype='object')

In [62]:
#Plot DC Annual Avg Price
dc_avg, = plt.plot(price_years, select_states_avg_house_value_df.loc['Washington',["2010","2011","2012","2013","2014","2015","2016","2017","2018",
                                                                                "2019","2020"]], marker="o",
                        color="purple",label=select_states_avg_house_value_df.loc['Washington',"State"])
#Plot Utah Annual Avg Price
ut_avg, = plt.plot(price_years, select_states_avg_house_value_df.loc['Utah',["2010","2011","2012","2013","2014","2015","2016","2017","2018",
                                                                                "2019","2020"]], marker="o",
                        color="green",label=select_states_avg_house_value_df.loc['Utah',"State"])
#Plot Illinois Annual Avg Price
il_avg, = plt.plot(price_years, select_states_avg_house_value_df.loc['Illinois',["2010","2011","2012","2013","2014","2015","2016","2017","2018",
                                                                                "2019","2020"]], marker="o",
                        color="blue",label=select_states_avg_house_value_df.loc['Illinois',"State"])
#Plot Texas Annual Avg Price
tx_avg, = plt.plot(price_years, select_states_avg_house_value_df.loc['Texas',["2010","2011","2012","2013","2014","2015","2016","2017","2018",
                                                                                "2019","2020"]], marker="o",
                        color="orange",label=select_states_avg_house_value_df.loc['Texas',"State"])
#Plot West Virginia Annual Avg Price
va_avg, = plt.plot(price_years, select_states_avg_house_value_df.loc['Virginia',["2010","2011","2012","2013","2014","2015","2016","2017","2018",
                                                                                "2019","2020"]], marker="o",
                        color="red",label=select_states_avg_house_value_df.loc['Virginia',"State"])
#make graph legable
plt.yticks(ticks=range(0, 220000, 130000), labels=range(0, 220000, 130000))
plt.tick_params(axis='both', which='major', labelsize=10)
plt.title("Average Price of House Over Time (Select States)")
plt.ylabel("Price in USD")
plt.xlabel("Years")
plt.legend(handles=[dc_avg, ut_avg, il_avg, tx_avg, va_avg])
plt.savefig('avg_house_price_change_graph.jpg', format='jpg')
plt.show()

KeyError: 'Washington'

In [50]:
#Calculating year over year percent change in the average house price by selected states
select_states_avg_house_value_df["% Change 2010 to 2011"] = ((select_states_avg_house_value_df["2011"] - select_states_avg_house_value_df["2010"]) / select_states_avg_house_value_df["2010"] * 100) 
select_states_avg_house_value_df["% Change 2011 to 2012"] = ((select_states_avg_house_value_df["2012"] - select_states_avg_house_value_df["2011"]) / select_states_avg_house_value_df["2011"] * 100)
select_states_avg_house_value_df["% Change 2012 to 2013"] = ((select_states_avg_house_value_df["2013"] - select_states_avg_house_value_df["2012"]) / select_states_avg_house_value_df["2012"] * 100)
select_states_avg_house_value_df["% Change 2013 to 2014"] = ((select_states_avg_house_value_df["2014"] - select_states_avg_house_value_df["2013"]) / select_states_avg_house_value_df["2013"] * 100)
select_states_avg_house_value_df["% Change 2014 to 2015"] = ((select_states_avg_house_value_df["2015"] - select_states_avg_house_value_df["2014"]) / select_states_avg_house_value_df["2014"] * 100)
select_states_avg_house_value_df["% Change 2015 to 2016"] = ((select_states_avg_house_value_df["2016"] - select_states_avg_house_value_df["2015"]) / select_states_avg_house_value_df["2015"] * 100)
select_states_avg_house_value_df["% Change 2016 to 2017"] = ((select_states_avg_house_value_df["2017"] - select_states_avg_house_value_df["2016"]) / select_states_avg_house_value_df["2016"] * 100)
select_states_avg_house_value_df["% Change 2017 to 2018"] = ((select_states_avg_house_value_df["2018"] - select_states_avg_house_value_df["2017"]) / select_states_avg_house_value_df["2017"] * 100)
select_states_avg_house_value_df["% Change 2018 to 2019"] = ((select_states_avg_house_value_df["2019"] - select_states_avg_house_value_df["2018"]) / select_states_avg_house_value_df["2018"] * 100)
select_states_avg_house_value_df["% Change 2019 to 2020"] = ((select_states_avg_house_value_df["2020"] - select_states_avg_house_value_df["2019"]) / select_states_avg_house_value_df["2019"] * 100)

select_states_avg_house_value_df

,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,...,% Change 2010 to 2011,% Change 2011 to 2012,% Change 2012 to 2013,% Change 2013 to 2014,% Change 2014 to 2015,% Change 2015 to 2016,% Change 2016 to 2017,% Change 2017 to 2018,% Change 2018 to 2019,% Change 2019 to 2020
1,138130.885125,133824.359667,134251.876067,141128.048258,152315.322375,164968.800842,177618.305925,189278.141825,201068.458783,210225.811775,...,-3.117714,0.319461,5.121844,7.927038,8.307423,7.667817,6.564546,6.229096,4.554346,5.330033
5,164836.884733,150928.749667,142037.569400,146488.876867,158050.371092,164253.659250,172364.972058,180334.902075,188349.806525,193393.205783,...,-8.437514,-5.890979,3.133894,7.892404,3.924880,4.938284,4.623869,4.444455,2.677677,3.438291
11,220257.314142,213077.486575,214320.188850,224463.159700,231728.301608,236948.121667,243815.428008,252396.899625,261777.610183,271513.411717,...,-3.259745,0.583216,4.732625,3.236675,2.252560,2.898232,3.519659,3.716650,3.719112,5.738963
12,260447.924925,236988.106900,223369.209142,238662.758392,257177.070367,277654.157350,308629.182708,342490.162267,378123.752950,397837.825842,...,-9.007489,-5.746659,6.846758,7.757520,7.962252,11.155974,10.971412,10.404267,5.213656,8.706544
29,205231.194483,189670.523475,191392.061500,211853.084067,225750.139142,239717.002625,262350.233333,285002.453175,311831.698417,336063.466117,...,-7.582020,0.907647,10.690633,6.559761,6.186868,9.441646,8.634343,9.413689,7.770784,8.937087

In [51]:
#Dropped unnecessary years from the data frame
percent_change_yty = select_states_avg_house_value_df.drop(["2010", "2011", "2012", "2013", "2014", "2015", "2016", "2017", "2018", "2019", "2020"], axis = 1)
percent_change_yty

,State,% Change 2010 to 2011,% Change 2011 to 2012,% Change 2012 to 2013,% Change 2013 to 2014,% Change 2014 to 2015,% Change 2015 to 2016,% Change 2016 to 2017,% Change 2017 to 2018,% Change 2018 to 2019,% Change 2019 to 2020
1,Texas,-3.117714,0.319461,5.121844,7.927038,8.307423,7.667817,6.564546,6.229096,4.554346,5.330033
5,Illinois,-8.437514,-5.890979,3.133894,7.892404,3.924880,4.938284,4.623869,4.444455,2.677677,3.438291
11,Virginia,-3.259745,0.583216,4.732625,3.236675,2.252560,2.898232,3.519659,3.716650,3.719112,5.738963
12,Washington,-9.007489,-5.746659,6.846758,7.757520,7.962252,11.155974,10.971412,10.404267,5.213656,8.706544
29,Utah,-7.582020,0.907647,10.690633,6.559761,6.186868,9.441646,8.634343,9.413689,7.770784,8.937087

In [52]:
#Plotting the percentage change in average house price (by state) over time